.welcome-header__title {
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.2em;
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    letter-spacing: normal;
    opacity: 0.8;
  }
}

.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
}

.nav__notification {
  animation: CoinFlip 2s ease-in-out infinite;
}

@keyframes CoinFlip {
  from {
    transform: rotatey(0);
  }
  to {
    transform: rotatey(360deg);
  }
}
